{% extends "layout.html" %}

{% block title %} Etusivu {% endblock %}

{% block content %}
{% if session.user_id %}

<br>
Ostoslistat:
<br>

<form action="/new_list" method="GET">
    <input type="submit" value="Tee uusi ostoslista">
</form>

<ul>
    {% for list in lists %}
        <li data-list-id = "{{ list.list_id}}">
            <form action="/activate_list" method="POST">
                {{ list.list_name }}
                <input type="hidden" name="list_id" value="{{ list.list_id }}">
                <button class="selectButton" type="submit">Muokkaa</button> 
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </li>
    {% endfor %}
</ul>

Reseptit ja ideat:
<form action="/new_recipe" method="GET">
    <input type="submit" value="Tee uusi resepti">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<ul>
    {% for recipe in recipe_list %}
    <li data-recipe-id = "{{ recipe.recipe_id}}">
        <form action="/activate_recipe" method="POST">
            {{ recipe.recipe_name }}
            <input type="hidden" name="recipe_id" value="{{ recipe.recipe_id }}">
            <button class="selectButton" type="submit">Muokkaa</button> 
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    </li>
    {% endfor %}
</ul>

Sinulle jaetut listat:
<ul>
    {% for list in shared_lists %}
        <li data-list-id = "{{ list.list_id}}">
            <form action="/activate_list" method="POST">
                {{ list.list_name }}
                <input type="hidden" name="list_id" value="{{ list.list_id }}">
                <button class="selectButton" type="submit">Muokkaa</button> 
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}