{% if session.user_id %}
Olet kirjautunut sisään.
<form action="/new" method="get">
    <input type="submit" value="Aloita uusi ostoslista">
</form>

Kauppalistat:
<ul>
    {% for list in lists %}
        <li data-list-id = "{{ list.list_id}}">
            {{ list.list_id}}
            {{ list.list_name }}
            <form action="/activate_list" method="POST">
                <input type="hidden" name="list_id" value="{{ list.list_id }}">
                <button class="selectButton" type="submit">Valitse</button> 
            </form>
        </li>
    {% endfor %}
</ul>

{% else %}
Tervetuloa kauppalista-sovellukseen!
<a href="/login">Kirjaudu sisään</a>
{% endif %}