<a href="/home"><button style="color: white; background-color: blue;">Palaa etusivulle</button></a>

<form action="/add_item" method="POST">
    <br>
    Kirjoita tuote ja määrä: <br>
    <textarea name="content" rows="1" cols="40"></textarea>
    <br>
    <input id="submitButton" type="submit" value="Lisää" style="color: white; background-color: green;">
    
    {{list_name}}<br>
    <ul>
        {% for item in items %}
            <li data-item-id="{{ item.item_id }}">
                {{ item.item_desc }}
                <button class="removeButton" type="button">Poista</button>
            </li>
        {% endfor %}
    </ul>
</form>

<form id="removeForm" action="/remove_items" method="POST">
    <!-- Hidden input field to store removed item IDs -->
    <input type="hidden" id="removedItems" name="removedItems">
    <button type="submit" id="confirmButton" class="confirmButton">Vahvista</button>
</form>


<script>

    // When "poista" button is clicked next to the item it is removed from list 
    // and its id stored into hidden input
    document.addEventListener("DOMContentLoaded", function() {
        const removedItems = document.getElementById("removedItems");

        document.querySelectorAll(".removeButton").forEach(button => {
            button.addEventListener("click", event => {
                const itemId = event.target.parentElement.getAttribute("data-item-id");
                event.target.parentElement.style.textDecoration = 'line-through';
                event.target.parentElement.style.color = 'red';
                removedItems.value += (removedItems.value ? "," : "") + itemId;
            });
        });
    });
</script>