{% extends "layout.html" %}

{% block title %} Listan muokkaus {% endblock %}

{% block buttons %}
    <a href="/"><button style="background-color:blue; color: white;">Palaa etusivulle</button></a>
    
    {%if session.username == list.created_by%}
        <form action="/share_list" method="get">
            <button type="submit" id="shareList" style="background-color:chartreuse; color: black;">Jaa lista toiselle käyttäjälle</button>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>

        <form action="/delete_list" method="post" onsubmit="return confirm('Haluatko varmasti poistaa tämän listan? (HUOM! Lista poistetaan myös jaetuilta käyttäjiltä)');">
            <button type="submit" id="deleteList" style="background-color: red; color: white;" >Poista lista</button>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>

    {% else %}
        <form action="/delete_list" method="post" onsubmit="return confirm('Haluatko varmasti poistua tästä listasta?');">
            <button type="submit" id="deleteList" style="background-color: red; color: white;" >Poistu listasta</button>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    {% endif %}
    
{% endblock %}

{% block content %}

<div class="left-container">
    <div class="info-container">
        <h1 id="list-name">{{ list.list_name }}</h1> 

        <h4>Listan omistaja: {{ list.created_by }}</h4>

        {% if shared_to %}
        <h4>Jaettu: {{ shared_to }}</h4>
        {% endif %}

        <form action="/add_list_item" method="POST">
            Kirjoita tuote ja määrä: <br>
            <input type="text" name="content" id="itemContent" minlength="3" >
            <br>
            <input id="submitButton" type="submit" value="Lisää" style="color: white; background-color: green;">    
        </form>


    </div>

    <div class="recipe-container">
        <h2>Reseptit:</h2>
        <div class="scrollable-container">
            {% if recipe_list %}
            {% for recipe in recipe_list %}
            <div class="recipe-card">
                <h3 id="recipe-name">{{ recipe.recipe_name }}</h3>
                <ul class="item-list">
                    {% for item in recipe.recipe_items %}
                        <li>{{ item.item_desc }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
        {% else %}
        (Reseptit näkyvät tässä)
        {% endif %}
        </div>
    </div>
    <div class="created-at-stamp">
        <p>Created at: {{list.created_at}}</p>
    </div>    
</div>


<div class="right-container">
    <div class="item-container">
        <h2>Tuotteet:</h2>
        <ul>
            {% for item in items %}
                <li data-item-id="{{ item.item_id }}">
                    {{ item.item_desc }}
                    <button class="removeButton" type="button" style="display: none; background-color: #ff6666; color: white;">Valitse</button>
                </li>
            {% endfor %}
        </ul>        
    </div>

    <div class="remove-buttons">
        <button id="removeItemsButton" type="button" style="background-color: #ff6666; color: white;">Poista tuotteita</button>

        <form id="removeForm" action="/remove_list_items" method="POST">

            <!-- Hidden input field to store IDS of removed items -->
            <input type="hidden" id="removedItems" name="removedItems">

            <button type="submit" id="confirmButton" style="display: none; background-color: #ff6666;color: white;">Vahvista muutokset</button>
            <button type="button" id="cancelButton" style="display: none; background-color: grey;color: white;">Peruuta muutokset</button>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    </div>



</div>

<script>
    // When "poista" button is clicked next to the item it is removed from list 
    // and its id stored into hidden input
    document.addEventListener("DOMContentLoaded", function() {
        const removedItems = document.getElementById("removedItems");
        const confirmButton = document.getElementById("confirmButton");
        const cancelButton = document.getElementById("cancelButton");
        const removeItemsButton = document.getElementById("removeItemsButton");

         // Show removal buttons when "Poista tuotteita" button is clicked
         removeItemsButton.addEventListener("click", function() {
            document.querySelectorAll(".removeButton").forEach(button => {
                button.style.display = 'inline-block';
            });
            // Show confirm button and cancel button
            confirmButton.style.display = 'inline-block';
            cancelButton.style.display = 'inline-block';
            // Hide "Poista tuotteita" button
            this.style.display = 'none';
        });

        document.querySelectorAll(".removeButton").forEach(button => {
            button.addEventListener("click", event => {
                const listItem = event.target.parentElement;
                const itemId = listItem.getAttribute("data-item-id");
                // Toggle the class for selected items
                listItem.classList.toggle("selectedForRemoval");
                // If the item is selected for removal, add its ID to the removedItems input
                if (listItem.classList.contains("selectedForRemoval")) {
                    listItem.style.textDecoration = 'line-through';
                    listItem.style.color = 'red';
                    removedItems.value += (removedItems.value ? "," : "") + itemId;
                } else { // Otherwise, remove its ID from the removedItems input
                    listItem.style.textDecoration = 'none';
                    listItem.style.color = 'inherit';
                    const items = removedItems.value.split(',');
                    const index = items.indexOf(itemId);
                    if (index !== -1) {
                        items.splice(index, 1);
                        removedItems.value = items.join(',');
                    }
                }
            });
        });

        cancelButton.addEventListener("click", function() {
            removedItems.value = "";
            confirmButton.style.display = 'none';
            cancelButton.style.display = 'none';
            document.querySelectorAll(".removeButton").forEach(button => {
                button.style.display = 'none';
            });
            document.querySelectorAll("li").forEach(li => {
                li.style.textDecoration = 'none';
                li.style.color = 'inherit';
            });
            // Show "Poista tuotteita" button
            removeItemsButton.style.display = 'inline-block';
        });
    });
</script>

{% endblock %}