<a href="/home"><button style="color: white; background-color: blue;">Palaa etusivulle</button></a>
<form action="/add_item" method="post">
    <br>
    Kirjoita tuote ja määrä: <br>
    <textarea name="content" rows="1" cols="40"></textarea>
    <br>
    <input id="submitButton" type="submit" value="Lisää" style="color: white; background-color: green;">
    
    <ul>
        {% for item in items %}
            <li>{{ item.item_desc }}</li>
        {% endfor %}
    </ul>
    <button id="removeItemsButton" formaction="/removal_mode" style="background-color: red;"> Poista tuotteita </button>

    
    </form>
    