{% extends "layout.html" %}

{% block title %} Kirjautuminen {% endblock %}

{% block buttons %}

<h3>Tehnyt: Toma Lahtinen 2024 (TSOHA-kurssi) </h3>

{% endblock %}

{% block content %}

<div class="left-container">
    <form action="/login" method="post">
        Tunnus: <input type="text" name="username">
        <p>
        Salasana: <input type="password" name="password">
        <p>
        <input type="submit" value="Kirjaudu">
    </form>
</div>

<div class="right-container">
    Jos sinulla ei ole tunnusta: <br>
    <a href="/register">Rekisteröidy</a>
</div>

{% endblock %}