{% extends "layout.html" %}

{% block title %} Listan jakaminen {% endblock %}

{% block buttons %}
<a href="javascript:window.history.back();"><button style="color: white; background-color: blue;">&#60;&#60;&#60;</button></a>
{% endblock %}

{% block content %}
<h2>Jaa lista käyttäjälle</h2>

<form action="/share_list" method="POST">
    <br>
    Syötä käyttäjänimi jolle haluat jakaa listan (huomioi isot/pienet kirjaimet): <br>
    <input type="text" name="username">
    <br>

    {% if success %}
    <p>{{ message }}</p>
    {% elif success == false %}
    <p> {{ message }}</p>
    {% endif %}

    <input id="submitButton" type="submit" value="Jaa" style="color: white; background-color: green;">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <br>
{% endblock %}